.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.Points--yellow:hover{
  transition: all ease 0.5s;
  color: #f1c40f;
}
.Points--red:hover{
  transition: all ease 0.5s;
  color: #e74c3c;
}
.Points--yellow{
  transition: all ease 0.5s;
}
.Points--red{
  transition: all ease 0.5s;
}